@import "tailwindcss";

input,
button,
textarea,
select {
  font-family: inherit;
}
button {
  cursor: pointer;
}

input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: 2px solid var(--color-blue-600);
  outline-offset: -1px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}
